body{
    margin: 0;
    padding: 0;
}

.form{
    display: flex;
    justify-content: center;
    /*margin-top: 10vh;
    margin-left: 29em; 
    margin-right: 29em; */
}

.nav-link,.navbar-brand{
    color: black;
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
    transition: color;
}

#video{
    display: flex;
    justify-content: center;
   /* margin-top: 5vh;*/
}

.rotate :hover
{
-webkit-transform:rotateZ (-30deg);
-ms-transform:rotateZ (-30deg);
transform:rotateZ (-30deg);
}