* {
    scroll-behavior: smooth;
}

body {
    /* margin-top: 7vh; */
}

.nav-link,
.navbar-brand, .adorno{
    font-family: "Caveat", cursive;
    font-size: 1.5rem;
    transition: color 1s;
}

.nav-link:hover, .adorno:hover {
    color: #FF4500 !important;
    font-weight: bold;
}

.form {
    background-image: url(img/Snitch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 0;
    margin-right: 0;
    height: 100vh;
}

.features {
    background-color: #FAFAD2;
    margin-left: 0;
    margin-right: 0;
    height: 100vh;
}

.video {
    background-image: url(img/Snitch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 0;
    margin-right: 0;
    height: 100vh;
}

.pricing{
    background-color:Honeydew;
    margin-left: 0;
    margin-right: 0;
    height: 100vh;
}